.theme-btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-transform: capitalize;
    text-align: center;
    background-color: $theme-color;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 12px 16px;
    // min-width: 170px;
    border-radius: 0px;

    i {
        margin-left: 5px;
    }

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: $header-color;
        z-index: -1;
        transition: all 0.4s ease-out;
        border-radius: inherit;
    }

    &:hover {
        color: $white;
        box-shadow: none;

        &::before {
            width: 100%;
        }
    }

    &.load-btn {
        background-color: transparent;
        border: 2px solid $theme-color;
        padding: 19px 54px;
        color: $theme-color;

        &::before {
            background-color: $theme-color;
        }

        &:hover {
            color: $white;
        }
    }

    @include breakpoint (max-md){
        padding: 20px 32px;
    }

    @include breakpoint (max-sm){
        padding: 18px 30px;
        font-size: 14px;
    }

    @include breakpoint (max-xs){
        padding: 14px 30px;
        font-size: 14px;
    }
    
    &.theme-btn-2 {
        border: 1px solid #010F1C;
        background: rgba(255, 255, 255, 0.00);   
        color: $header-color;   

        &:hover {
            color: $white;
        }
    }

    &.theme-btn-3 {
        background-color: $white;   
        color: $header-color;  
        border: 1px solid $white;
        
        &.border-color {
            border: 1px solid #010F1C;
        }

        &:before {
            background-color: $theme-color-2;
        }

        &:hover {
            color: $white;
            border: 1px solid $theme-color-2;
        }
    }

    &.theme-btn-4 {
        background-color: $theme-color-3;   
        color: $white;  
        
        &:before {
            background-color: $header-color;
        }
    }

    &.header-btn {
        background-color: $header-color;
        color: $white;

        &::before {
            background-color: $theme-color
        }
    }
}

.link-btns {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    font-family: "Manrope", sans-serif;
    text-transform: capitalize;
    color: $header-color;

    i {
        font-size: 12px;
    }

    &.style-2 {
        color: $white;

        &:hover {
            color: $theme-color-2;
        }
    }

    &:hover {
        color: $theme-color;
        border-bottom: 1px solid $theme-color;
    }
}

.link-btn-2 {
    font-size: 14px;
    font-weight: 500;
    color: $header-color;
    @include transition;

    i {
        margin-left: 5px;
    }

    &:hover {
        color: $theme-color;
    }
}
//>>>>> Component Button End <<<<<//