.instagram-wrapper {
    padding: 0 18px;
    text-align: center;
    margin-bottom: 10px;

    .instagram-banner-items {
        margin-top: 60px;

        .banner-image {
            position: relative;
    
            @include breakpoint (max-md){
                height: 450px;
    
                img {
                    object-fit: cover
                }
            }
    
            @include breakpoint (max-sm){
                height: 380px;
            }
    
            img {
                @include imgw;
            }
    
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                background: rgba(0, 0, 0, 0.30);
                opacity: 0.6;
                transform: scale(1, 0);
                transition: transform 500ms ease;
                transform-origin: bottom center;
                z-index: 1;
            }
    
            .icon {
                position: absolute;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                border-radius: 50%;
                border: 2px solid rgba(255, 255, 255, .5);
                font-size: 28px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 99;
                color: $white;
                opacity: 0;
                @include transition;
            }
        }
    
        &:hover {
            .banner-image {
                &::before {
                    transform: scale(1, 1);
                    transform-origin: top center;
                }
                .icon {
                    opacity: 1;
                }
            }
        }
    }

    &.style-2 {
        padding: 0 0;

        .instagram-banner-items {
            margin-top: 60px;
    
            .banner-image {
                position: relative;
        
                @include breakpoint (max-md){
                    height: 450px;
        
                    img {
                        object-fit: cover
                    }
                }
        
                @include breakpoint (max-sm){
                    height: 380px;
                }
        
                img {
                    @include imgw;
                }
        
                &::before {
                    background: rgba(0, 0, 0, 0.30);
                }
        
                .icon {
                    font-size: 24px;
                    border: 1px solid transparent;
                }
            }
        
            &:hover {
                .banner-image {
                    &::before {
                        transform: scale(1, 1);
                        transform-origin: top center;
                    }
                    .icon {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.style-3 {
        .instagram-banner-items {
    
            .banner-image {
               
                &::before {
                    background: rgba(189, 132, 76, 1);
                    opacity: 0.7;
                }

                .icon {
                    border: 1px solid transparent;
                }
            }
        }
    }
}

.cosmetics-wrap {
    @include flex;
    justify-content: space-between;
    padding: 70px 50px;
    position: relative;

    &::before {
        @include before;
        background: rgba(0, 0, 0, 0.30);
    }

    @include breakpoint (max-xl) {
       flex-wrap: wrap;
       gap: 30px;
    }

    @include breakpoint (max-md) {
        padding: 70px 40px;
     }

    @include breakpoint (max-sm) {
        padding: 70px 30px;
     }

     h2 {
        position: relative;

        @include breakpoint (max-xs) {
            font-size: 25px;
        }
     }

    .coming-soon-timer {
        border: 1px solid #DDE0E3;
        @include flex;
        display: flex;
        align-items: center;
        gap: 50px;
        padding: 15px 30px;
        min-width: 325px;
        justify-content: space-between;
        line-height: 1;
        position: relative;

        @include breakpoint (max-md) {
            gap: 30px;
            min-width: initial;
        }

        .timer-content {
            text-align: center;
            
            h3 {
                font-size: 22px;
                font-weight: 500;
                line-height: 1;
                margin-bottom: 5px;
                color: $white;
            }

            p {
                font-size: 10px;
                font-weight: 500;
                color: $white;
                text-transform: uppercase;
            }
        }
    }
}

.cta-wrapper {
    @include flex;
    justify-content: space-between;
    padding: 70px 0;

    @include breakpoint (max-xl) {
        flex-wrap: wrap;
        gap: 30px;
    }

    .cta-content {
        position: relative;

       h6 {
         color: $white;
         font-weight: 500;
       }

       h2 {
         font-size: 40px;
         color: $white;
         font-weight: 800;
       }
    }

    .search-widget {
        position: relative;
        max-width: 486px;
        width: 100%;

        input {
            width: 100%;
            border: none;
            background-color: $white;
            box-shadow: 0px 1px 2px 0px rgba(1, 15, 28, 0.10);
            position: relative;
            font-size: 18px;
            font-weight: 400;
            padding: 16px 18px;
            color: $text-color;
            border-radius: 0;
            text-transform: capitalize;

            @include breakpoint(max-sm) {
                font-size: 16px;
            }

            &::placeholder {
                color: $text-color;
            }
        }

        button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;

            &.theme-btn {
                padding: 16px 24px;
                background-color: $header-color;
                color: $white;

                &:before {
                    background-color: $theme-color;
                }

                @include breakpoint(max-sm) {
                    padding: 16px 20px;
                }
            }
        }
    }
}

.cta-section {
    position: relative;

    .left-shape {
        position: absolute;
        left: 0;
        top: 10px;

        @include breakpoint (max-xxxl) {
            display: none;
        }
    }

    .right-shape {
        position: absolute;
        right: 350px;
        top: 20px;

        @include breakpoint (max-xxxl) {
            display: none;
        }
    }

    .man-shape {
        position: absolute;
        top: 0;
        right: 247px;

        @include breakpoint (max-xxxl) {
            display: none;
        }
    }

    &::before {
        @include before;
        background-color: $theme-color;
        top: 10px;
    }

    &.style-2 {

        &::before {
            @include before;
            background-color: $theme-color-3;
            top: 10px;
        }
    }
}

.video-bg-section {
    background-attachment: fixed;
    
    .container-fluid {
        padding: 0 100px;

        @include breakpoint (max-xl) {
            padding: 0 60px;
        }


        @include breakpoint (max-lg) {
            padding: 0 50px;
        }


        @include breakpoint (max-md) {
            padding: 0 40px;
        }

        @include breakpoint (max-sm) {
            padding: 0 30px;
        }
    }
}

.video-wrapper {
    padding: 280px 0;
    text-align: center;
    background-attachment: fixed;

    @include breakpoint (max-xl) {
        padding: 140px 0;
    }

    @include breakpoint (max-lg) {
        padding: 120px 0;
    }

    @include breakpoint (max-md) {
        padding: 100px 0;
    }

    @include breakpoint (max-sm) {
        padding: 80px 0;
    }
        
    .video-btn {
        width: 136px;
        height: 136px;
        line-height: 136px;
        text-align: center;
        border-radius: 100px;
        background-color: $white;
        color: $theme-color;
        display: inline-block;
        text-align: center;
        font-size: 24px;

        @include breakpoint (max-lg){
            width: 100px;
            height: 100px;
            line-height: 100px;
            font-size: 18px;
        }

        @include breakpoint (max-md){
            width: 80px;
            height: 80px;
            line-height: 80px;
            font-size: 18px;
        }
    }
}


.cooming-soon-item {
    padding: 80px 0;
    text-align: center;

    .logo-image {
        margin-bottom: 70px;
        position: relative;

        @include breakpoint (max-xl) {
            margin-bottom: 50px;
        }
    }

    h3 {
        font-size: 40px;
        color: $white;
        position: relative;
        margin-bottom: 20px;

        @include breakpoint (max-sm) {
            font-size: 30px;
        }
    }

    .coming-soon-time {
        @include flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        position: relative;

        @include breakpoint (max-xl) {
            flex-wrap: wrap;
        }

        .timer-content {
            text-align: center;
            
            h2 {
                font-size: 220px;
                font-weight: 400;
                line-height: 1;
                color: $white;

                @include breakpoint (max-xl) {
                    font-size: 160px;
                }

                @include breakpoint (max-lg) {
                    font-size: 130px;
                }

                @include breakpoint (max-md) {
                    font-size: 100px;
                }

                @include breakpoint (max-sm) {
                    font-size: 70px;
                }
            }

            p {
                font-size: 20px;
                font-weight: 400;
                color: $white;
                text-transform: uppercase;
            }
        }
    }

    .social-icon {
        margin-top: 60px;
        gap: 15px;
        position: relative;
        z-index: 9;
        justify-content: center;

        @include breakpoint (max-sm){
            margin-top: 20px;
        }

        a {
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            border-radius: 100px;
            font-size: 16px;
            display: block;
            border: 1px solid $header-color;
            color: $header-color;
            @include transition;
            text-align: center;

            &:hover {
                background-color: $header-color;
                color: $white;
            }
        }
    }

    .link-btn {
        position: relative;
        margin-top: 50px;
        color: $white;
        display: inline-block;
        font-size: 20px;
        font-weight: 400;
        text-decoration: underline;
    }
}

.coming-soon-section {
    position: relative;
    min-height: 100vh;
    @include flex;

    &::before {
        @include before;
        background: linear-gradient(0deg, #BD844C 0%, #BD844C 100%), #FFF;
    }

    .shape {
        position: absolute;
        top: 10px;
        left: 22%;
        bottom: 0;

        @include breakpoint (max-xxxl) {
            display: none;
        }
    }
}

