.feature-wrapper {
    @include flex;
    justify-content: space-between;
    padding: 80px 0;

    @include breakpoint (max-xl) {
        flex-wrap: wrap;
        gap: 30px;
    }

    .feature-item {
        @include flex;
        gap: 14px;
        border-left: 2px solid #E9EAED;
        padding-left: 50px;

        @include breakpoint (max-xl) {
            border-left: none;
            padding-left: 0;
        }

        &.style-2 {
            border-left: none;
            padding-left: 0;
        }

        .content {
            p {
                font-size: 15px;
                font-weight: 400;
            }
        }
    }

    &.style-2 {
        border: 1px solid rgba(217, 219, 222, 1);
        padding: 34px 40px;
    }

    &.style-4 {
        justify-content: center;
        gap: 5px;

        .feature-item {
            border-left: none;
            padding-left: none;
            border-radius: 8px 0px 0px 8px;
            background: #F6F7F9;
            padding: 30px 40px;
        }
    }
}

.feature-section-2 {
    margin-top: -20px;
}

.feature-wrapper-4 {
    @include flex;
    justify-content: space-between;

    .feature-image-items {
        text-align: center;
        
        .image {

            img {
                @include imgw;
            }
        }

        .content {
            margin-top: 30px;

            h4 {
                font-weight: 500;
            }
        }
    }
}

.forget-wrapper {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        background-color: $border-color;
        top: 0;
        left: 47%;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .forget-content {

        h3 {
            font-size: 30px;
            margin-bottom: 5px;
        }

        p {
            color: $header-color;

            &.color {
                color: $text-color;
            }
        }

        .contact-form-items {
            margin-top: 20px;

            .form-clt {
                position: relative;
    
                input,textarea {
                    width: 100%;
                    border: none;
                    outline: none;
                    background: transparent;
                    color: $text-color;
                    border-radius: 0;
                    border: 1px solid $border-color;
                    padding: 9px 16px;
                    @include transition;
                    max-width: 500px;

                    &:hover {
                        border: 1px solid $header-color;
                    }
        
                    &::placeholder {
                        color: $text-color;
                    }
                }
            }
        }
    }
}

.my-account-wrapper {

    .wrap-sidebar-account {

        .sidebar-account {
            background-color: $bg-color;
            padding: 40px 32px;

            .account-avatar {
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .image {
                    margin-bottom: 16px;
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-left: auto;
                    margin-right: auto;

                    img {
                        @include imgw;
                        object-fit: cover;
                    }
                }
            }

            .nav {
                display: flex;
                gap: 12px;
                align-items: center;

                li{
                    font-size: 20px;
                    font-weight: 500;
                   
                    @include breakpoint (max-xl) {
                      font-size: 16px;
                    }
                   
                   .nav-link{
                    color: $header-color;
                    padding: 18px 25px;
                    @include flex;
                    gap: 15px;

                    a {
                        color: $header-color;
                    }
        
                    &.active {
                      position: relative;
                      background-color: $white;
                      color: $header-color;
                    }
                   }
                }
              }
          }
      }

    .tab-content {
        margin-left: 50px;

        @include breakpoint (max-xl) {
            margin-left: 0;
        }

        .account-details {

           .account-info {

            h3 {
                font-size: 30px;
                margin-bottom: 10px;
            }

            .form-clt {
                position: relative;

                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: $header-color;
                }
    
                input,textarea {
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    padding-bottom: 20px;
                    padding: 12px 20px;
                    @include transition;
                    color: #95999D;
                    font-size: 14px;
                    font-weight: 400;
                    border: 1px solid #E0E2E3;
                    @include transition;

                    &:hover {
                        border: 1px solid $header-color;
                    }
        
                    &::placeholder {
                        color: $text-color;
                    }
                }

                .form {
                    .single-select {
                        background: transparent;
                        border: none;
                        text-align: center;
                        margin: 0 auto;
                        position: relative;
                        z-index: 999;
                        border: 1px solid #E0E2E3;
                        color: $text-color;
                        padding: 14px 20px;
                        @include transition;

                        &:hover {
                            border: 1px solid $header-color;
                        }
            
                        span{
                            font-size: 14px;
                            font-weight: 400;
                            text-transform: capitalize;
                            color: $text-color;
                        }
        
                        .list {
                            width: 100%;
                            @include transition;
    
                            li {
                                color: $text-color;
                            }
                        }
                    }
                }

                .icon {
                    position: absolute;
                    right: 20px;
                    top: 18px;
                }
            }

           }

           .account-password {
              margin-top: 30px;

               .account-info {

                h3 {
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                .form-clt {
                    position: relative;
    
                    span {
                        font-size: 14px;
                        font-weight: 400;
                        color: $header-color;
                    }
        
                    input,textarea {
                        width: 100%;
                        outline: none;
                        border: none;
                        background-color: transparent;
                        padding-bottom: 20px;
                        padding: 14px 20px;
                        @include transition;
                        color: #95999D;
                        font-size: 14px;
                        font-weight: 400;
                        border: 1px solid #E0E2E3;
                        @include transition;

                        &:hover {
                            border: 1px solid $header-color;
                        }
            
                        &::placeholder {
                            color: $text-color;
                        }
                    }
    
                    textarea {
                        padding-bottom: 130px;
                        resize: none;
                    }

                    .form {

                        .single-select {
                            background: transparent;
                            border: none;
                            text-align: center;
                            margin: 0 auto;
                            position: relative;
                            z-index: 999;
                            border: 1px solid #E0E2E3;
                            color: $text-color;
                            padding: 14px 20px;
                            @include transition;

                            &:hover {
                                border: 1px solid $header-color;
                            }
                
                            span{
                                font-size: 14px;
                                font-weight: 400;
                                text-transform: capitalize;
                                color: $text-color;
                            }
            
                            .list {
                                width: 100%;
                                @include transition;
        
                                li {
                                    color: $text-color;
                                }
                            }
                        }
                    }
    
                    .icon {
                        position: absolute;
                        right: 20px;
                        top: 18px;
                    }

                 }

               }
           }
        }

        .axil-dashboard-address {

            .notice-text {
                font-size: 16px;
                color: #292930;
                margin-bottom: 25px;
            }

            .addrss-header {
                border-bottom: 1px solid $border-color;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }

            .title {
                font-size: 30px;
                margin-bottom: 10px;
                font-weight: 500;
                color: $header-color;
            }

            .address-edit {
                font-size: 16px;
                color: #292930;
                @include transition;

                &:hover {
                    color: $theme-color;
                }
            }
            ul {
             
                li {
                    font-size: 16px;
                    line-height: 1;
                    color: $header-color;
                    line-height: 30px;

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    &.style-2 {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

