
//page scroll bar add
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $theme-color; 
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $theme-color;
	border-radius: 10px;
}
//page scroll bar add

//Basic Code Start
.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

.ml-50 {
  margin-left: 50px;

    @include breakpoint (max-xl){
     margin-left: 0;
    }
}
//Basic Code End

//Video Css Start
.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80px;
      height: 80px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
      -webkit-animation: rippleOne 3s infinite;
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
//Video Css End
.array-buttons {
  @include flex;
  gap: 20px;

  .array-prev {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0px;
    text-align: center;
    background-color: $white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: $header-color;
    @include transition;

    &:hover {
        background-color: $theme-color;
        color: $white;
    }
 }

.array-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0px;
    text-align: center;
    color: $white;
    background-color: $header-color;
    @include transition;

    &:hover {
        background-color: $theme-color;
        color: $white;
    }
}

  &.style-2 {

    .array-prev {
      background-color: $bg-color;

      &:hover {
        background-color: $theme-color;
        color: $white;
      }
    }
    
    .array-next {
      background-color: $bg-color;

      &:hover {
        background-color: $theme-color;
        color: $white;
      }
    }
  }
}

.array-buttons-2 {
  @include flex;
  gap: 20px;

  .array-prev {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 0px;
    text-align: center;
    background-color: transparent;
    border: 1px solid $theme-color;
    color: $theme-color;
    @include transition;

    &:hover {
        background-color: $theme-color;
        color: $white;
    }
 }

.array-next {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 0px;
    text-align: center;
    color: $white;
    background-color: $theme-color;
    @include transition;

    &:hover {
        background-color: $header-color;
        color: $white;
    }
}

  &.style-2 {

    .array-prev {
      background-color: $bg-color;

      &:hover {
        background-color: $theme-color;
        color: $white;
      }
    }
    
    .array-next {
      background-color: $bg-color;

      &:hover {
        background-color: $theme-color;
        color: $white;
      }
    }
  }
}
//pagination default

//pagination default
.swiper-dot {
  .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      @include transition;
      background-color: $theme-color;
      opacity: 1;
      border-radius: 10px;
      &:not(:last-child){
        margin-right: 10px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color;
      transition: 0.6s;
      position: relative;

      &::before{
        position: absolute;
        width: 22px;
        height: 22px;
        line-height: 22px;
        top: -6px;
        left: -6px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid $theme-color;
        content: "";
      }
   }
}

.swiper-dot-2 {
  text-align: center;

  .swiper-pagination-bullet {
      width: 32px;
      height: 8px;
      transition: 0.6s;
      background-color: rgba(213, 213, 213, .6);
      opacity: 1;
      border-radius: 10px;
      position: relative;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: $theme-color;
      transition: 0.6s;
      position: relative;
      width: 50px;
  }

}

.swiper-dot3 {
  text-align: center;

  @include breakpoint (max-xl) {
     margin-bottom: 10px;
  }

  .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      transition: 0.6s;
      background-color: transparent;
      border: 1px solid $text-color;
      border-radius: 30px;
      opacity: 1;
      border-radius: 100%;
      position: relative;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $header-color;
      border: 1px solid $header-color;
      transition: 0.6s;
      position: relative;
      width: 12px;
      height: 12px;
      border-radius: 30px;
  }

}

.swiper-dot-5 {
  margin-top: 50px;
  text-align: center;

  
  @include breakpoint (max-xl) {
    margin-bottom: 20px;
 }

  .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      transition: 0.6s;
      background-color: rgba(202, 212, 219, 1);
      opacity: 1;
      border-radius: 10px;
      &:not(:last-child){
        margin-right: 10px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color;
      transition: 0.6s;
      position: relative;

      &::before{
        position: absolute;
        width: 22px;
        height: 22px;
        line-height: 22px;
        top: -6px;
        left: -6px;
        border-radius: 50%;
        background-color: transparent;
        content: "";
      }
   }
}
//Price Range style
.price-range-wrapper {
	.slider-container {
		position: relative;
		width: 100%;
	}
	.price-text {
		label {
			color: #1b1f2a;
			font-size: 20px;
			font-weight: 500;
		}
		input {
			color: #1b1f2a;
			font-size: 18px;
			font-weight: 500;
		}
	}

	.slider {
		-webkit-appearance: none;
		appearance: none;
		width: 100%;
		height: 6px;
		background: $theme-color; 
		outline: none;
		position: absolute;
		top: 0;
		// z-index: 1;
		pointer-events: none;
	}

	/* Custom thumb styling */
	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 18px;
		height: 18px;
		background: $theme-color;
		cursor: pointer;
		border: 2px solid #fff;
		position: relative;
		z-index: 2;
		pointer-events: all;
	}

	.slider::-moz-range-thumb {
		width: 20px;
		height: 20px;
		background: $theme-color;
		cursor: pointer;
		border-radius: 4px;
		border: 2px solid #000;
		z-index: 2;
		position: relative;
	}

	.slider::-ms-thumb {
		width: 20px;
		height: 20px;
		background: $theme-color;
		cursor: pointer;
		border-radius: 4px;
		border: 2px solid #000;
		z-index: 2;
		position: relative;
	}

	/* Remove the default appearance for sliders in Firefox */
	input[type="range"]::-moz-range-track {
		background: transparent;
	}
}
//Price Range style


//pagination default

.mt-10 {
  margin-top: 10px;
}

br {
  @include breakpoint(max-md){
    display: none;
  }
}

.mt-60 {
  margin-top: 55px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-20 {
  margin-top: 20px;
}
/* background */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.bg-cover-2 {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  width: 100%;
  height: 100%;
}

//>>>>> Nice Select Css Start <<<<<//
.nice-select {
  background-color: transparent;
  width: unset;
  outline: none;
  // border-bottom: 2px solid $border-color !important;
  border: none;
  border-radius: 0;
  padding: 0;
}

.nice-select .current {
  margin-right: 12px;
}

.nice-select.open .list {
  background: $bg-color;
  margin-top: 16px;
  width: 100%;
  text-transform: capitalize;
  color: $text-color;
}

.nice-select .option.selected.focus {
  background: $bg-color;
  outline: none;
  color: $text-color;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  border: none;
}

.nice-select .option {
  border: none;
}

.nice-select .option:hover {
  background: transparent;
}

//>>>>> Nice Select Css End <<<<<//

.custom-container {
  max-width: 1680px;
}

.margin-bottom-40 {
    margin-bottom: -30px;

    @include breakpoint (max-xxl){
      margin-bottom: -35px;
    }
}

.page-nav-wrap {
  margin-top: 60px;

  ul {
      li {
          display: inline-block;

          &.active {

            .page-numbers {
              background-color: $theme-color;
              color: $white;
            }
          }

          .page-numbers {
              &.current {
                  background-color: $theme-color;
                  color: $white;
              }

              display: inline-block;
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 40px;
              border-radius: 0;
              border: 1px solid rgba(1, 15, 28, 0.10);
              background: transparent;
              color: $black;
              font-weight: 500;
              transition: all 0.3s ease-in-out;
              margin: 0 2px;

              @media (max-width: 767px) {
                  margin-top: 10px;
                  width: 40px;
                  height: 40px;
                  line-height: 40px;
                  font-size: 14px;
              }

              i {
                  margin-top: 2px;
              }
              &:hover {
                  background-color: $theme-color;
                  color: $white;
              }
          }
      }
  }
}
  
.form-check-input:checked {
  background-color: $theme-color !important;
  border-color:  $theme-color !important;
}

.custom-container {
   max-width: 1720px;
   margin: 0 auto;
}

.custom-container-3 {
  max-width: 1655px;
  margin: 0 auto;
}

.custom-container-4 {
  max-width: 1410px;
  margin: 0 auto;
}
 
 
.hero-bg {
  background: #FF6633;
}
// .swiper-dot4 {
//   text-align: center;

//   .swiper-pagination-bullet {
//       width: 15px;
//       height: 15px;
//       transition: 0.6s;
//       background-color: $white;
//       border: 1px solid $theme-color;
//       opacity: 1;
//       border-radius: 100%;
//       position: relative;
//   }
//   .swiper-pagination-bullet.swiper-pagination-bullet-active {
//       background-color: $theme-color;
//       transition: 0.6s;
//       position: relative;
//       width: 30px;
//       border-radius: 30px;
//   }

// }

.swiper-dot {
  text-align: center;
  
  .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      transition: 0.6s;
      background: #D3D8DD;;
      opacity: 1;
      border-radius: 10px;
      &:not(:last-child){
        margin-right: 10px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color;
      transition: 0.6s;
      position: relative;

      &::before{
        position: absolute;
        width: 22px;
        height: 22px;
        line-height: 22px;
        top: -6px;
        left: -6px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid $theme-color;
        content: "";
      }
   }
}

.mega-hover {
  position: relative;
  overflow: hidden;
  z-index: 2
}

.mega-hover:after,.mega-hover:before {
  content: "";
  position: absolute;
  pointer-events: none;
  opacity: 1;
  z-index: -1
}

.mega-hover:before {
  top: 0;
  right: 51%;
  bottom: 0;
  left: 50%;
  background: rgba(255,255,255,0.2)
}

.mega-hover:after {
  top: 50%;
  right: 0;
  bottom: 50%;
  left: 0;
  background: rgba(245,255,255,0.3)
}

.mega-hover:hover:before {
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 900ms linear;
  transition: all 900ms linear
}

.mega-hover:hover:after {
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 900ms linear;
  transition: all 900ms linear
}

.sticky-style {
  position: sticky !important;
  top: 100px;
}

.bg-light-orange {
  background-color: #0FE2D1 !important;
}

.bg-light-grey {
  background-color: #EB1313 !important;
}

.bg-dark-grey-2 {
  background-color: #FF5CAB !important;
}

.bg-dark-color {
  background-color: #FF9811 !important;
}