.hero-1 {
    padding: 0 0 40px;
    position: relative;
    // z-index: 9;

    .arrow-button {
        position: absolute;
        right: 190px;
        bottom: 80px;
        @include flex;
        gap: 10px;

        @include breakpoint (max-xxxl) {
             right: 40px;
             bottom: 30px;
        }

        @include breakpoint (max-sm) {
            display: none;
        }

        .array-prev {
            color: $white;
            width: 54px;
            height: 54px;
            line-height: 54px;
            text-align: center;
            border: 1px solid $white;
            color: $white;
            border-radius: 100px;
            @include transition;

            &:hover {
                border: 1px solid $white;
            }
        }

        .array-next {
            width: 54px;
            height: 54px;
            line-height: 54px;
            text-align: center;
             border: 1px solid $white;
            color: $white;
            border-radius: 100px;
            @include transition;

            &:hover {
                border: 1px solid $white;
            }
        }
    }

    .shape {
        position: absolute;
        bottom: 0;
        right: 18%;
        z-index: 1;

        @include breakpoint (max-xxxl) {
            display: none;
        }

        img {
            @include imgw;
        }
    }

    .right-image {
        position: absolute;
        right: 100px;
        top: 90px;

        @include breakpoint (max-xxxl) {
            display: none;
        }

        img {
            @include imgw;
        }
    }

    .video {
        position: relative;
        position: absolute;
        right: 278px;
        top: 258px;
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
        border-radius: 100%;
        background-color: $theme-color;
        z-index: 999;

        @include breakpoint (max-md){
            width: 80px;
            height: 80px;
            line-height: 80px;
            font-size: 18px;
        }

        @include breakpoint (max-xxxl) {
            right: 240px;
           top: 155px;
        }

        @include breakpoint (max-xl) {
            right: 198px;
            top: 40px;
        }

        @include breakpoint (max-lg) {
            right: 230px;
            top: 375px;
        }

        @include breakpoint (max-md) {
            right: 90px;
            top: 460px;
        }

        .video-btn {
            text-align: center;
            color: $white;
            display: inline-block;
            text-align: center;
            font-size: 24px;
            z-index: 999;
            position: absolute;
            z-index: 99;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            i {
                z-index: 99;
                position: relative;
            }

        }

        .circle-image {
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%,-50%);


            img {
                animation: cir36 10s linear infinite;
            }
        }
    }

    .hero-content {
        position: relative;
        max-width: 1000px;
        margin-left: -120px;
        margin-right: -400px;
        z-index: 99;

        @include breakpoint (max-xxxl) {
            margin-left: 0;
            margin-right: 0;
        }

        @include breakpoint (max-lg) {
            margin-top: 80px;
        }

        h6 {
            color: $white;
            font-weight: 400;
            margin-bottom: 15px;
        }

        h1 {
            color: $white;
            margin-bottom: 30px;

            @include breakpoint (max-xl) {
                line-height: 1;
            }
        }

        .theme-btn {
            background-color: transparent;
            border: 1.5px solid rgba(255, 255, 255, 0.20);
            color: $white;
            margin-bottom: 30px;
        }

        p {
            color: $white;
            font-size: 20px;
            font-weight: 400;
            max-width: 520px;

            @include breakpoint (max-xl) {
                font-size: 16px;
            }
        }
    }

    .hero-items {
        @include flex;

        @include breakpoint (max-lg) {
            flex-wrap: wrap;
        }
    }

    .hero-image-slider {
        max-width: 475px;
        margin-top: 200px;
        position: relative;

        @include breakpoint (max-xl) {
           margin-top: 50px;
        }

        .hero-image {

            @include breakpoint (max-md) {
                text-align: center;
            }

            img {
                @include imgw;

                @include breakpoint (max-xl) {
                    width: 400px;
                    height: 480px;
                }

                @include breakpoint (max-lg) {
                    width: 400px;
                    height: 480px;
                }

                @include breakpoint (max-md) {
                    width: 380px;
                    height: 370px;
                }
    
                @include breakpoint (max-sm) {
                    width: 280px;
                    height: 370px;
                }
            }
        }
    }
}

.hero-2 {
    position: relative;

    .container-fluid {
        padding: 200px 140px 200px;

        @include breakpoint (max-xl) {
            padding: 160px 80px 160px;
        }
    
        @include breakpoint (max-lg) {
            padding: 140px 40px 140px;
        }

        @include breakpoint (max-md) {
            padding: 120px 0px 120px;
        }

        @include breakpoint (max-sm) {
            padding: 100px 0px 100px;
        }
    }

    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;
        z-index: 9;
    }

    .hero-content {
        position: relative;
        z-index: 9;

        @include breakpoint (max-md){
            text-align: center;
        }

        h1 {
            @include breakpoint (max-xl) {
                line-height: 1;
            }
        }

        p {
            color: $header-color;
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 15px;

            @include breakpoint (max-xl) {
                font-size: 16px;
            }
        }

        .hero-icon-item {
            @include flex;
            gap: 30px;
            margin-top: 40px;

            @include breakpoint (max-xl) {
               margin-top: 30px;
            }

            @include breakpoint (max-xl) {
                flex-wrap: wrap;
                gap: 28px;
            }

            @include breakpoint (max-md){
                justify-content: center;
            }

            .icon-item {
                @include flex;
                gap: 15px;
                border-left: 1px solid rgba(255, 255, 255, 0.20);
                padding-left: 30px;

                &.style-2 {
                    border-left: none;
                    padding-left: 0;
                }

                .content {
                    h6 {
                        font-weight: 400;
                    }
                }
            }
        }

        .hero-button {
            @include flex;
            margin-top: 50px;

            @include breakpoint (max-xl) {
               margin-top: 30px;
            }

            @include breakpoint (max-md){
               justify-content: center;
            }

            .theme-btn {
                background-color: transparent;
                color: $header-color;
                border: 1px solid rgba(0, 0, 0, 0.30);

                &::before {
                    background-color: $theme-color-2;
                }

                &:hover {
                    color: $white;
                    border: 1px solid $theme-color-2;
                }
            }
        }
    }
}


.hero-section-2 {
    position: relative;

    .swiper-slide.swiper-slide-active {
        .hero-bg {
            -webkit-transform: scale(1.19);
            -moz-transform: scale(1.19);
            transform: scale(1.19);
        }
    }

    .arrow-button {

        @include breakpoint (max-xl) {
            display: none;
        }

        .array-prev {
            position: absolute;
            left: 3%;
            top: 50%;
            transform: translate(-50%,-50%);
            color: $header-color;
            font-size: 40px;
            z-index: 9;
            @include transition;

            &:hover {
                color: $theme-color-2;
            }
        }

        .array-next {
            position: absolute;
            right: 2%;
            top: 50%;
            transform: translate(-50%,-50%);
            color: $header-color;
            font-size: 40px;
            z-index: 9;
            @include transition;

            &:hover {
                color: $theme-color-2;
            }
        }
    }
}

.hero-3 {
    padding: 200px 0 200px;
    position: relative;

    @include breakpoint (max-xl) {
        padding: 160px 0 160px;
    }

    @include breakpoint (max-lg) {
        padding: 140px 0 140px;
    }

    @include breakpoint (max-md) {
        padding: 120px 0px 120px;
    }

    @include breakpoint (max-sm) {
        padding: 100px 0px 100px;
    }

    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;
        z-index: 9;
    }

    .hero-content {
        position: relative;
        z-index: 9;

        @include breakpoint (max-md) {
           text-align: center;
        }

        p {
            color: $header-color;
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 15px;

            @include breakpoint (max-xl) {
                font-size: 16px;
            }
        }

        h1 {
            font-size: 66px;
            font-weight: 600;
            line-height: 115%;

            @include breakpoint (max-xl) {
                font-size: 50px;
            }

            @include breakpoint (max-lg) {
                font-size: 45px;
            }

            @include breakpoint (max-md) {
                font-size: 40px;
            }

            @include breakpoint (max-sm) {
                font-size: 35px;
            }

            @include breakpoint (max-sm) {
                font-size: 30px;
            }
        }

        .hero-button {
            @include flex;
            margin-top: 50px;

            @include breakpoint (max-xl) {
                margin-top: 30px;
             }

            @include breakpoint (max-md) {
               justify-content: center;
            }

            .theme-btn {
                background-color: $theme-color;
                color: $white;
                padding: 19px 53px;

                @include breakpoint (max-sm) {
                    padding: 15px 50px;
                }

                &::before {
                    background-color: $header-color;
                }

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

.hero-section-3 {
    position: relative;

    .swiper-slide.swiper-slide-active {
        .hero-bg {
            -webkit-transform: scale(1.19);
            -moz-transform: scale(1.19);
            transform: scale(1.19);
        }
    }

    .arrow-button {

        @include breakpoint (max-xl) {
            display: none;
        }

        .array-prev {
            position: absolute;
            left: 6%;
            top: 50%;
            transform: translate(-50%,-50%);
            color: $header-color;
            font-size: 24px;
            z-index: 1;
            width: 70px;
            height: 70px;
            line-height: 70px;
            border-radius: 100px;
            background-color: rgba(1, 15, 28, 0.1);
            z-index: 9;
            @include transition;

            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }

        .array-next {
            position: absolute;
            right: 2%;
            top: 50%;
            transform: translate(-50%,-50%);
            background-color: $theme-color;
            color: $white;
            font-size: 24px;
            z-index: 1;
            width: 70px;
            height: 70px;
            line-height: 70px;
            border-radius: 100px;
            z-index: 9;
            @include transition;

            &:hover {
                background-color: $header-color;
            }
        }
    }
}